html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   overflow: hidden;
}

header {
   width: 100%;
   min-height: 100%;
   position: relative;
   background-color: black;
}

.stars-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background-color: black;
}

.star {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   border-radius: 50%;
   transform: translate(-50%, -50%);
}

.line {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 0;
   width: 1px;
   height: 1px;
}
